.App {
  font-family: 'Alegreya', serif;
}

.App img {
  max-width: 120px;
  display: block;
  margin: 0 auto;
}
.App h1 {
  text-align: center;
}

.App footer {
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
